/
/ Idea by vlbrsk
/ From dribbble "Hamburger Transformation"
/ https://dribbble.com/shots/3353380-Hamburger-transformation
/

.burger.on
	.top.bar.dark
		.box
			.top.surface
			.bottom.surface
		.box
			.top.surface
			.bottom.surface
		.box
			.top.surface
			.bottom.surface
		.box
			.top.surface
			.bottom.surface
	.middletop.bar.light
		.box
			.top.surface
			.bottom.surface
		.box
			.top.surface
			.bottom.surface
		.box
			.top.surface
			.bottom.surface
		.box
			.top.surface
			.bottom.surface
	.middle.bar.dark
		.box
			.top.surface
			.bottom.surface
		.box
			.top.surface
			.bottom.surface
		.box
			.top.surface
			.bottom.surface
		.box
			.top.surface
			.bottom.surface
	.middlebottom.bar.light
		.box
			.top.surface
			.bottom.surface
		.box
			.top.surface
			.bottom.surface
		.box
			.top.surface
			.bottom.surface
		.box
			.top.surface
			.bottom.surface
	.bottom.bar.dark
		.box
			.top.surface
			.bottom.surface
		.box
			.top.surface
			.bottom.surface
		.box
			.top.surface
			.bottom.surface
		.box
			.top.surface
			.bottom.surface